@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}

nav {
  
  z-index: 2;
  display: flex;
  justify-content: space-around;
}
nav a {
  float: left;
  padding: 20px;
  color: #44b752;
}
a {
  text-decoration: none;
}

.dropdown {
  float: left;
  color: #44b752;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: #44b752;
  padding: 20px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: green;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  box-sizing: border-box;
  background-color: #ddd;

}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.dropdown:hover .dropdown-content {
  animation: fadeInAnimation ease 1s;
  display: block;
}

.gradient {
  background: linear-gradient(to right, #44b752, rgb(0, 200, 255), #44b752);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container {
  /* width: 100%; */
  
  background-color: #f7f7f7;
  
  
}
.slideshow-container {
 width: 80%;
 position: relative;
  margin: 0 auto ;
}
.f-container {
  border-bottom: solid 1px grey;
}
@media only screen and (max-device-width: 480px){

  .f-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .news {
    width: 100% !important;
  }
}





.mySlides {
  
  display: none;
  
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}


.text {
  border: solid;
  box-shadow: 2em;
  color: wheat;
  background-color: rgba(0, 0, 0, 0.533);
  font-size: 1.2rem;
  padding: 8px 12px;
  position: absolute;
  margin: 2rem;
  bottom: 0;
  /* width: 100%; */
  text-align: center;
}
.sticky {
  position: fixed;
  top: 0;
  background-color: white;
  width: 100%;
}
nav {
  
    overflow: hidden;
    
  
}
.sticky + .content {
  padding-top: 60px;
}







/* Fading animation */
.fade {
  animation: fadeInAnimation ease 1s;
}
.up {
  animation: fadeInAnimation ease 5s;
}



.f-container {
  display: flex;
  /* margin: 0 auto ; */
  justify-content: center;
  padding: 10px;
  /* flex-direction: column; */
}
.placement{
  overflow: hidden;
  margin-left: 10px;

}
.welcome {
  width: 50%;
}
.placement td {
  font-weight: 700;
 

}
.news {
  margin: 20px;
}


.header {
  
  background-color: #4285f4;
  padding: 20px;
  font-size: 1.7rem;
  color: white;
  border-radius: 10px;
}

.header a {
  text-decoration: none;
  color: white;
  float: right;
  
}
.links {
  display: flex;
  flex-direction: column;
  
}
.links a {
  border-bottom: 1px solid grey;
  margin: 10px;
  line-height: 40px;
  text-decoration: none;
  color: #2aaae9;
}



.slide-container {
  position: relative;
  margin-top: 20px;
}
.slide img {
  max-width: 400px;
}
.slide {
  display: none;
}
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #9bd8a2;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #38b247;
}

.footer {
  bottom: 0;

}

.faculty {
  box-shadow: 10px 10px 8px #888888;
  margin: 20px;
  display: inline-block;
} 
.faculty img {
  display: inline;
  max-width: 120px;
}













.footers {
    
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #bfbaba;
    
    text-align: center;
  }

.icons {
  padding: 20px;
}
.icons a {
  margin-right: 5px;
}
.icons a i:hover  {
  color: #2aaae9;
}

.foot a {
  display: block;
  text-decoration: none;
  color: black;
  padding: 4px;
}

.reveal{
  position: relative;
  transform: translateX(-150px);
  opacity: 0;
  transition: 2s all ease;
}
.reveal.actives{
  transform: translateX(0);
  opacity: 1;
}

